:root {
  background: #f7f7f7;
}

.popup__container {
  padding: 5px;
  width: 300px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.button {
  border-radius: 10px;
  border: none;
  background: #5892e8;
  &:hover {
    background: #4877be;
  }
  &:active {
    background: #5892e8;
  }
}

.button--wide {
  font-size: 30px;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.button--small {
  font-size: 20px;
}

.button__label {
  font-size: 16px;
  color: #fff;
}

/* https://color.adobe.com/create/color-wheel */
.button__icon {
  color: #fff;
}

.popup__legend {
  color: #302b3d;
  font-size: 14px;
}

.popup__input {
  height: 26px;
  padding: 0 7px;
  flex-grow: 1;
  border: 1px solid #5892e8;
  border-radius: 4px;
}

.popup__fieldset {
  border: none;
  display: flex;
  padding: 0;
  gap: 8px;
  justify-content: flex-end;
}
